html, body {
	height: 100%;
	min-height: 100%;
}

html, body {
	height: 100%;
	min-height: 100%;
	color: #fff;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
}

#logo {
	width:55px;
	height:55px;
}

#headertext {
	font-size: 57px;
	left: -5px;
	color: black;
}

h1, h3, h5 {
	display: flex;
	justify-content: center;
}

.nav-button {
	text-align: center;
	float: right;
	margin-top: 18px;
	height: 70%;
	font-family: serif;
	color: black;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 5px;
	border-radius: 3px;
}

.text-centered {
	display: flex;
	justify-content: center;
}

#mastercontainer {
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin-bottom: -100px;
}

#header {
	background-color: #fff;
	height: 60px;
	padding-left: 1%;
}

#content {
}

#innercontentmiddle {
	background-color: #fff;
	width: 90%;
	min-height: 800px;
	float: left;
	color: black;
}

#scroll-sidebar {
	background-color: #f1f1f1;
	width: 10%;
	height: 100%;
	float: left;
}

#footer {
	background-color: #434343;
	max-height: 160px;
	padding-left: 10%;
	height:25%;
	float: left;
	width: 90%;
	-webkit-column-count: 3;
	color: white;
}

.questions {
	padding: 20px;
}

#footerclear {
}