html, body {
    height: 100%;
    min-height: 100%;
}

html, body {
    height: 100%;
    min-height: 100%;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

#logo {
	width:55px;
	height:55px;
}

#headertext {
	font-size: 57px;
	left: -5px;
	position: ;
}

#mastercontainer {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin-bottom: -100px;
}

#header {
    background-color: #434343;
    height: 60px;
    padding-left: 20%;
}

#navbar {
    background-color: #434343;
    height: 60px;
    padding-left: 20%;
}

#content {
}

#innercontentmiddle {
    background-color: #fff;
    width: 90%;
    height: 100%;
    float: left;
}

#scroll-sidebar {
    background-color: #f1f1f1;
    width: 10%;
    height: 100%;
    float: left;
}

#footerclear {
}

#footer {
    background-color: #434343;
    max-height: 60px;
    height: 5%;
    padding-left: 20%;
    float: left;
    width: 100%;
}​